$height-menu: 64px;

#home-view {
    #home-header {
        img {
            height: 32px;
        }
    }

    #home-main {
        #home-sidebar {
            height: calc(100vh - #{$height-menu});
            border-right: solid #d3cdcd 1px;
            margin-top: 20px;
            text-align: center;
            ul {
                list-style-type: none;
                padding-left: 10px;
                li {
                    list-style-type: none; // < IE9
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &:hover {
                        background-color: #EEE;
                    }
                }
            }
        }

        #home-main-content {
        }
    }
}
