@{
    ViewBag.Title = "Dashboard";
}
<div id="home-view" class="container-fluid">
    <nav id="home-header" class="navbar navbar-expand-lg navbar-light bg-light-green">
        <a class="navbar-brand" href="#">
            <img src="~/Content/imgs/logo.png" alt="LOGO" />
        </a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa fa-newspaper-o"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge badge-pill badge-success">2</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge badge-pill badge-success">7</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class="img-circle" 
                             src="~/Content/imgs/avatar.png" 
                             alt="avatar" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="home-main" class="container-fluid">
        <div id="home-sidebar" class="col-lg-2">
            <h3 class="h3">My dashboard</h3>
            <ul>
                <li><i class="fa fa-home"></i> Home</li>
                <li><i class="fa fa-dollar"></i> Transactions</li>
                <li><i class="fa fa-balance-scale"></i> Balance</li>
                <li><i class="fa fa-line-chart"></i> Consommation</li>
                <li><i class="fa fa-cogs"></i> Settings</li>
            </ul>
        </div>
        <div id="home-main-content" class="col-lg-10">

        </div>
    </div>
</div>